.mat-list-icon {
  color: rgba(120, 2, 255, 0.993);
  margin-right: 15px;
}

.atributos {
  width: 100%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 100;
}

.list {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.botao {
  margin-top: 15px;
}

.divider {
 background-color: black;
 height: 3px;
 border-radius: 3px;
}

