<h1 mat-dialog-title>Cadastro</h1>
<h1 mat-dialog-title>Novo Produto</h1>

<div mat-dialog-content>
  <form class="produtos-form" [formGroup]="produtoForm">
    <mat-form-field class="produtos-full-width">
      <mat-label>Código do Produto</mat-label>
      <input matInput formControlName="codigo" name="codigo">
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Nome do Produto</mat-label>
      <input matInput formControlName="nomenclatura" name="nomenclatura">
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Preço do Produto</mat-label>
      <input matInput type="number" formControlName="preco" name="preco">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Aplicação do Produto</mat-label>
      <input matInput formControlName="aplicacao" name="aplicacao">
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Dosagem do Produto</mat-label>
      <input matInput type="number" formControlName="dosagem" name="dosagem">
      <span matSuffix>%</span>
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Inspiração do Produto</mat-label>
      <input matInput formControlName="inspiracao" name="inspiracao">
    </mat-form-field>


    <mat-form-field class="produtos-full-width">
      <mat-label>Amostra</mat-label>
      <mat-select formControlName="amostra" name="amostra">
        <mat-option value="Disponível">Disponível</mat-option>
        <mat-option value="Indisponivel">Indisponivel</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)= "createProduto()">Cadastrar</button>
  <button mat-button (click) = "close()">Fechar</button>
</div>
