<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="codigo">Código Produto</label>
      </div>
      <div class="col-75">
        <input type="text" id="codigo" name="codigoprodu" placeholder="Código do Produto">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="idprojeto">Id do Projeto</label>
      </div>
      <div class="col-75">
        <input type="number" min="1" id="idprojeto" name="idprojeto" placeholder="Id do Projeto">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Enviar">
    </div>
  </form>
</div>
