<div class="container" id="prodform">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="cliente">Id do Cliente</label>
      </div>
      <div class="col-75">
        <input type="number" min="1" id="cliente" name="cliente" placeholder="Id do Cliente">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="observacoes">Observações</label>
      </div>
      <div class="col-75">
        <textarea name="observacoes" id="observacoes" placeholder="Observações" style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Enviar">
    </div>
  </form>
</div>
