<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fnome">Razão Social</label>
      </div>
      <div class="col-75">
        <input type="text" id="fnome" name="razaosocial" placeholder="Razão Social">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ffantasia">Nome Fantasia</label>
      </div>
      <div class="col-75">
        <input type="text" id="ffantasia" name="nomefantasia" placeholder="Nome Fantasia">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Enviar">
    </div>
  </form>
</div>
