<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar..">

<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>Id</th>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Jill</td>
        <td>Campo Essencial</td>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </tr>
      <tr>
        <td>2</td>
        <td>Adam</td>
        <td>Paris Essencias</td>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      </tr>
    </table>
  </div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar..">
  <div class="column">
    <table>
      <tr>
        <th>id Produto</th>
        <th>Código</th>
        <th>Nomenclatura</th>
        <th>Preço</th>
        <th>Aplicação</th>
        <th>Dosagem</th>
        <th>Inspiração</th>
        <th>Amostra</th>
      </tr>
      <tr>
        <td>1</td>
        <td>PR 123</td>
        <td>Chiclete</td>
        <td>R$ 190,00</td>
        <td>Cósmeticos</td>
        <td>1%</td>
        <td></td>
        <td>Sim</td>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </tr>
      <tr>
        <td>2</td>
        <td>PR 1234</td>
        <td>Campestre</td>
        <td>R$ 270,00</td>
        <td>Aromatizante</td>
        <td>1%</td>
        <td></td>
        <td>Sim</td>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </tr>
    </table>
  </div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar..">
  <div class="column">
    <table>
      <tr>
        <th>Id Projeto</th>
        <th>id Cliente</th>
        <th>Fantasia</th>
        <th>Razão Social</th>
        <th>Produtos</th>
        <th>Ra</th>
        <th>Situação</th>
        <th>Observações</th>
        <th>Data Registro</th>
      </tr>
      <tr>
        <td>1</td>
        <td>3</td>
        <td>Abelardo</td>
        <td>Casa Limp</td>
        <td></td>
        <td>89</td>
        <td>Pendente</td>
        <td>Nenhuma</td>
        <td>11/07/2021</td>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </tr>
    </table>
  </div>
</div>
