<div class="container" id="prodform">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fnome">Nome Produto</label>
      </div>
      <div class="col-75">
        <input type="text" id="fnome" name="nomeproduto" placeholder="Nome do Produto..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aplicacao">Aplicação</label>
      </div>
      <div class="col-75">
        <select id="aplicacao" name="aplicacao">
          <option value="aromatizante">Aromatizante</option>
          <option value="amaciante">Amaciante</option>
          <option value="cera">Cera</option>
          <option value="saneantes">Saneantes</option>
          <option value="sabao">Sabão</option>
          <option value="perfumaria">Perfumaria</option>
          <option value="detergente">Detergente</option>
          <option value="vela">Vela</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="codigo">Código</label>
      </div>
      <div class="col-75">
        <input type="text" id="codigo" name="codigoprodu" placeholder="Código do Produto..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="inspiracao">Inspiração</label>
      </div>
      <div class="col-75">
        <input type="text" id="inpiracao" name="inpiracaoprodu" placeholder="Inspiração da fragrância">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="preco">Preço</label>
      </div>
      <div class="col-75">
        <input type="number" id="preco" name="precoprodu" placeholder="Preço do produto">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
          <label for="dosagem">Dosagem</label>
      </div>
      <div class="col-75">
        <input type="number" id="dosagem" name="dosagemprodu" placeholder="Dosagem do produto">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="amostra">Amostra</label>
      </div>
      <div class="col-75">
        <select id="amostra" name="amostra">
          <option value="sim">Sim</option>
          <option value="nao">Não</option>
        </select>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Enviar">
    </div>
  </form>
</div>
