<div class="row">

  <div class="column">
    <ul id="projects">
      <h1 class="h1ausentes">Pendentes</h1>
      <li><a href="#1">pedido 1</a></li>
      <li><a href="#2">pedido 2</a></li>
      <li><a href="#3">pedido 3</a></li>
      <li><a href="#4">pedido 4</a></li>
    </ul>
  </div>

  <div class="column">
    <ul id="projects">
      <h1 class="h1aprovados">Aprovados</h1>
      <li><a href="#1">pedido 1</a></li>
      <li><a href="#2">pedido 2</a></li>
      <li><a href="#3">pedido 3</a></li>
      <li><a href="#4">pedido 4</a></li>
    </ul>
  </div>

  <div class="column">
    <ul id="projects">
      <h1 class="h1recusados">Recusados</h1>
      <li><a href="#1">pedido 1</a></li>
      <li><a href="#2">pedido 2</a></li>
      <li><a href="#3">pedido 3</a></li>
      <li><a href="#4">pedido 4</a></li>
    </ul>
  </div>
</div>
